/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --bg-image: repeating-linear-gradient(
      to right,
      #d3d3d3 0 2px,
      transparent 2px 4px
    ),
    repeating-linear-gradient(to bottom, #d3d3d3 0 2px, transparent 2px 4px),
    linear-gradient(to bottom, #e7e7e7 0%, #e7e7e7 0.01%, #1a1a1a 100%);
  --font-accent: "Press Start 2P";
  --font-main: "Inter";
  --font-main-paragraph: 410;
  --font-main-title: 715;
  --width-block: clamp(320px, 100%, 700px);
  --text-stroke: rgba(255, 255, 255, 0.6);
  --contour-color: #000;
  --animation-fill-color: red;
}
